@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.eb-garamond-regular {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.eb-garamond-regular-italic {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.eb-garamond-medium {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.eb-garamond-semibold {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.eb-garamond-bold {
  font-family: 'EB Garamond', serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: orange !important;
}
